#Ignore IDE
.idea/
/codeStyles/codeStyleConfig.xml
*.id
.vscode/

# Ignore generated vspec files
templates/**/*.vspec

# Ignore Python cache and test artifacts
tools/**/__pycache__
.tools/
.pytest_*

# Ignore generated tree representations (yaml, json, etc.)
spec/aceaVss*.yaml
spec/VehicleSignalSpecification.yaml
templates/VehicleSignalSpecification.yaml
